<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding style="margin-bottom: 5px">
  <ion-list>
    <ion-item>
      Barcode:
      <span item-end>
        {{Ticket.BarCode}}
      </span>
    </ion-item>
    <ion-item>
      Plate Number:
      <span item-end>
        {{Ticket.PlateNoPrefix}} {{Ticket.PlateNumber}}
      </span>
    </ion-item>
    <ion-item>
      <span item-start>Gate:</span>
      <span item-end>
        {{Ticket.GateName}}
      </span>
    </ion-item>
    <ion-item>
      <span item-start>Parking:</span>
      <span item-end>
        {{Ticket.SubSiteName}} - {{Ticket.BinName}}
      </span>
    </ion-item>
    <ion-item>
      <span item-start>Country:</span>
      <span item-end>
        <ion-avatar>
          <img src="{{ Ticket.CountryCode | countryImage }}" alt="iconName">
        </ion-avatar>
        {{Ticket.countryName}}
      </span>
    </ion-item>
    <ion-item>
      <ion-label item-start>Time In: </ion-label>
      <span item-end>{{Ticket.TimeIn  | date:'shortTime'}} </span>
    </ion-item>
    <ion-item>
      <ion-label item-start>Duration: </ion-label>
      <span item-end>{{ carDuration | time }} </span>
    </ion-item>
    <ion-item *ngIf="Ticket.CustomerName">
      <ion-label item-start>Customer: </ion-label>
      <span item-end>{{ Ticket.CustomerName}} {{ Ticket.CustomerPhoneNumber}}</span>
    </ion-item>
    <ion-item>
      <span item-start>Entry User: </span>
      <span item-end>
        {{Ticket.EntryUserName}}
      </span>
    </ion-item>
    <ion-item *ngIf="Ticket.IsPaid===0">
      <ion-label item-start>Price: </ion-label>
      <span item-end padding style="background-color: #ddd; border-radius: 5px">
        <strong>
          {{ Ticket.DocAmount }} {{ Ticket.CurrencyCode }}
        </strong>
      </span>
    </ion-item>
  </ion-list>
</ion-content>

<transaction [carData]="Ticket"></transaction>
