<ion-item-group>
  <ion-item>
    <ion-label item-start style="color: #000 !important;">Currency</ion-label>
    <ion-select item-end name="curCode" [(ngModel)]="currencyCode" style="min-width: 100%;max-width: 100%">
      <ion-option *ngFor="let cur of currencies" [value]="cur.CurrencyCode">{{ cur.CurrencyCode }}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label item-start style="color: #000 !important;">Paid Amount</ion-label>
    <ion-input item-end type="number" name="amount" [(ngModel)]="data.AdvancedPayment" style="margin-left: 60px" placeholder="Required Field"></ion-input>
  </ion-item>
  <button ion-button="" color="secondary" (click)="save()">Save</button>
  <button ion-button color="danger" (click)="close()">Cancel</button>
</ion-item-group>
